<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>doctor dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div><h1>Profile Management</h1>
        <button type="button" class="btn btn-warning">logout</button></div>
        <div> <button type="button" class="btn btn-secondary">
      Appointment Management
    </button></div>
   <div><button type="button" class="btn btn-success">
      Patient file Management
    </button></div>
    <div><button type="button" class="btn btn-danger">Financial management</button></div>
    
    <div>
<h3>item1</h3>
<h3>item2</h3>
<h3>item3</h3>
    
    </div>
    
  </body>
</html>
